* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $white;
    background-image: url("./../images/bg_light.jpg");
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: column;

    &.lock {
        height: 100vh;
        overflow: hidden;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.content {
    margin-top: $headerHeight;
}

input,
textarea,
button {
    font-family: 'Cabin', sans-serif;
    border: none;
    box-shadow: none;
    font-size: 14px;
    height: 35px;
}

.input-text {
    padding: 0 7px;
}

.section {
    text-align: center;
}

.arrow {
    &:hover {
        cursor: pointer;
    }
}

.arrow-icon {

}

.social-icons {

}