.footer {
    background-color: black;
    color: white;
    font-family: 'Cabin', sans-serif;

    .footer__content {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: $headerMaxWidth;
        margin: 0 auto 20px;
        padding: 30px 20px;
    }

    .footer__newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__social-icons, 
    .footer__logo {
        display: none;
    }

    .social-icon {
        font-size: 30px;
    }

    .logo {
        width: 90px;
        height: 90px;
        margin-right: 10px;
    }

    .newsletter-form {
        margin-top: 5px;
    }

    .newsletter-text {
        margin-bottom: 30px;
        font-size: 20px;
    }

    .newsletter-input {
        color: $white;
        background: transparent;
        border: 1px solid $white;

        &::placeholder {
            color: $white;
        }
    }

    .newsletter-button {
        margin-left: 5px;

        &:hover {
            cursor: pointer;
        }
    }
        
    .footer__copyright {
        text-align: center;
        padding: 5px 10px 10px;
        font-size: 14px;
    }
}

@include breakpoint(1200px) {
    .footer {
        .footer__content {
            justify-content: space-between;
        }

        .footer__social-icons, 
        .footer__logo {
            display: block;
        }

        .newsletter-input {
            width: 220px;
        }
    }
}