.hero {
    background-color: $black;
}

.gallery { 
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    .gallery__item {
        overflow: hidden;
        text-align: center;
    }

    .gallery__image {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .gallery__arrows {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
    }
    
    .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $orange;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .arrow-icon {
        color: $white;
    }
}

@include breakpoint(768px) {
    .gallery {
        .gallery__item {
            height: 500px;
        }

        .gallery__image {
            height: 100%;
            width: auto;
        }
    }
}

@include breakpoint(1200px) {
    .gallery {
        .gallery__item {
            height: 700px;
        }
    }
}